<div>
    <p>OAuth Simulator is a small application to simulate authentication through OAuth2 providers.</p>
    
    <br />
    <div class="text-end">
        <cite><strong>Author:</strong> Roberto Nacchia</cite>
        <br />
        <cite><a href="#" title="Project Page">Project Page</a></cite>
    </div>
</div>